<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <title>Castaways</title>
    </head>
    <body>
        {{> header}}
        {{{body}}}
        {{> footer}}
        <script src="/js/libs/jquery.js"></script>
        <script src="/js/libs/bootstrap.js"></script>
    </body>
</html>