// HOMEPAGE BUTTONS

section.index {

	a.btn {
		font-size: 18px;
		padding: 6px 12px;
		border-radius: 4px;
		border-width: 1px;
	}

	a.btn-default {
		background-image: none;
		background-color: rgba(255, 255, 255, 0.0);
		font-weight: $font-weight-normal;
		text-shadow: none;
		// -webkit-font-smoothing: antialiased;
	}

	a.btn-about {
		border-color: white;
		color: white;
	}

	a.btn-gallery {
		border-color: #263C43;
		color: #263C43;
	}

	.splitcontent a.btn-default {
		border-color: #4D7A88;
		color: #4D7A88;
	}
}