<section class="about">
  <div class="wrapper story_wrapper" id="ourstory">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 story_div">
          <div class="aboutcontent">
            <h2 class="about_subheader story_subheader">Our Story</h3>
            <p class="about_paragraph story_paragraph">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim. Praesent id tortor nec augue imperdiet.</p>
          </div><!--closes .aboutcontent-->
        </div><!--closes story_div-->
      </div><!--closes .row-->
    </div><!--closes .container-fluid-->
  </div><!--closes .story_wrapper-->
  <div class="wrapper mari_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 mari_div">
          <div class="aboutcontent">
            <h2 class="about_subheader mari_subheader">Mari</h3>
              <div class="row">
                <div class="col-md-4 col-xs-12 mari_pic">
                  <img src="/images/mari/mari_profile.jpg" class="img-responsive mari_profile" />
                </div><!--closes .maripic-->
                <div class="col-md-8 col-xs-12 mari_text">
                  <p class="about_paragraph mari_paragraph">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim. Praesent id tortor nec augue imperdiet.
                  <br>
                  Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim. Praesent id tortor nec augue imperdiet.</p>
                </div><!--closes .mari_text-->
              </div><!--closes .row-->
          </div><!--closes .aboutcontent-->
        </div><!--closes mari_div-->
      </div><!--closes .row-->
    </div><!--closes .container-fluid-->
  </div><!--closes .mari_wrapper-->
  <div class="wrapper jasmine_wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 jasmine_div">
          <div class="aboutcontent">
            <h2 class="about_subheader jasmine_subheader">Jasmine</h3>
            <div class="row">
              <div class="col-md-4 col-md-push-8 col-xs-12 jasmine_pic">
                <img src="/images/jasmine/jasmineeyescropped.jpg" class="img-responsive jasmine_profile"/>
              </div><!--closes .jasmine_pic-->
              <div class="col-md-8 col-md-pull-4 col-xs-12 jasmine_text">
                <p class="about_paragraph jasmine_paragraph">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim. Praesent id tortor nec augue imperdiet.
                <br>
                Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim. Praesent id tortor nec augue imperdiet.</p>
              </div><!--closes .jasmine_text-->
            </div><!--closes .row-->
          </div><!--closes .aboutcontent-->
        </div><!--closes jasmine_div-->
      </div><!--closes .row-->
    </div><!--closes .container-fluid-->
  </div><!--closes .jasmine_wrapper-->
  <div class="wrapper faq_wrapper" id="faq">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12 faq_div">
          <div class="aboutcontent">
            <h2 class="about_subheader faq_subheader">FAQ</h3>
              <p class="faq_question">Lortem ipsum dolor sit amet?</h5>
              <p class="faq_answer">ortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus.</p>
            <div class="faqbox">
              <p class="faq_question">Lortem ipsum dolor sit amet?</h5>
              <p class="faq_answer">ortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus.</p>
            </div><!--closes .faqbox-->
            <div class="faqbox">
              <p class="faq_question">Lortem ipsum dolor sit amet?</h5>
              <p class="faq_answer">ortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus.</p>
            </div><!--closes .faqbox-->
            <div class="faqbox">
              <p class="faq_question">Lortem ipsum dolor sit amet?</h5>
              <p class="faq_answer">ortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus.</p>
            </div><!--closes .faqbox-->   
          </div><!--closes .aboutcontent-->
        </div><!--closes faq_div-->
      </div><!--closes .row-->
    </div><!--closes .container-fluid-->
  </div><!--closes .faq_wrapper-->
</section>