<section class="about">
  <div class="content_div story_wrapper" id="ourstory">
    <div class="row">
      <div class="col-md-12 col-xs-12 story_div">
        <h3 class="about_subheader story_subheader">Our Story</h3>
        <p class="about_paragraph story_paragraph">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim. Praesent id tortor nec augue imperdiet.</p>
      </div><!--closes story_div-->
    </div><!--closes .row-->
  </div><!--closes .story_wrapper-->
  <div class="content_div mari_wrapper">
    <div class="row">
      <div class="col-md-12 col-xs-12 mari_div">
        <h3 class="about_subheader mari_subheader">Mari</h3>
        <img src="http://placehold.it/190x240" class="img-responsive mari_profile md-pull-left" />
        <p class="about_paragraph mari_paragraph">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim. Praesent id tortor nec augue imperdiet.

        Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim. Praesent id tortor nec augue imperdiet.</p>
      </div><!--closes mari_div-->
    </div><!--closes .row-->
  </div><!--closes .mari_wrapper-->
  <div class="content_div jasmine_wrapper">
    <div class="row">
      <div class="col-md-12 col-xs-12 jasmine_div">
        <h3 class="about_subheader jasmine_subheader">Jasmine</h3>
        <img src="http://placehold.it/190x240" class="img-responsive jasmine_profile md-pull-right" />
        <p class="about_paragraph jasmine_paragraph">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim. Praesent id tortor nec augue imperdiet.

        Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim. Praesent id tortor nec augue imperdiet.</p>
      </div><!--closes jasmine_div-->
    </div><!--closes .row-->
  </div><!--closes .jasmine_wrapper-->
  <div class="content_div faq_wrapper" id="faq">
    <div class="row">
      <div class="col-md-12 col-xs-12 faq_div">
        <h3 class="about_subheader faq_subheader">FAQ</h3>
        <h5 class="faq_question">Lortem ipsum dolor sit amet?</h5>
        <p class="faq_answer">ortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus.</p>
        <h5 class="faq_question">Lortem ipsum dolor sit amet?</h5>
        <p class="faq_answer">ortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus.</p>
        <h5 class="faq_question">Lortem ipsum dolor sit amet?</h5>
        <p class="faq_answer">ortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus.</p>
        <h5 class="faq_question">Lortem ipsum dolor sit amet?</h5>
        <p class="faq_answer">ortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus.</p>
        <h5 class="faq_question">Lortem ipsum dolor sit amet?</h5>
        <p class="faq_answer">ortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus.</p>
      </div><!--closes faq_div-->
    </div><!--closes .row-->
  </div><!--closes .faq_wrapper-->
</section>