<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-12 blog_content">
        <h2>BLOG</h2>
        <h3>Lortem ipsum dolor sit amet</h3>
        <p class="blogdate">March 2, 2015</p>
        <img src="/images/jasmine/jasmine1_smallcorrected.jpg" class="img-responsive miniblogimg" />
        <div class="blogparagraphs">
          <p class="blogtext">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim.</p>
          <p class="blogtext">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim.</p>
          <p class="blogtext">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim.</p>
        </div><!--closes .blogparagraphs-->
        <div class="hr"></div>
        <h3>Lortem ipsum dolor sit amet</h3>
        <p class="blogdate">March 2, 2015</p>
        <img src="/images/jasmine/jasmine1_smallcorrected.jpg" class="img-responsive miniblogimg" />
        <div class="blogparagraphs">
          <p class="blogtext">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim.</p>
          <p class="blogtext">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim.</p>
          <p class="blogtext">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim.</p>
        </div><!--closes .blogparagraphs-->
      </div><!--closes .blog_content-->
    </div><!--closes .row-->
  </div><!--closes .container-->
</section>