<section class="contact">
    <h2 class="contactheader">CONTACT</h2>
    <form class="form-inline">
        <div class="form-group">
            <label for="exampleInputName2">Your Name</label>
            <input type="text" class="form-control" id="exampleInputNumber2" placeholder="">
        </div><!--closes form-group-->
        <div class="form-group">
            <label for="exampleInputName2">Your Email</label>
            <input type="text" class="form-control" id="exampleInputNumber2" placeholder="">
        </div><!--closes form-group-->
    </form>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="exampleInputEmail1">How did you hear of us?</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
        </div><!--closes .form-group-->        
    </form>
    Your Message:
    <textarea class="form-control" rows="4">
    </textarea>
    <button type="submit" class="btn btn-default">Submit</button>
</section>