<section class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12 xs-md-12 gallery_div">
        <h2 class="gallery_header">GALLERY</h2>
        <div class="row">
          <div class="col-md-12 col-xs-12 gallery_div clearfix">
            <a href="#" class="thumbnail">
              <img src="/images/gallery/JPEG/gallery1.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
                <img src="/images/gallery/JPEG/gallery2.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
                <img src="/images/gallery/JPEG/gallery4.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
                <img src="/images/gallery/JPEG/gallery5.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
                <img src="/images/gallery/JPEG/gallery6.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
                <img src="/images/gallery/JPEG/gallery7.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
                <img src="/images/gallery/JPEG/gallery8.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
                <img src="/images/gallery/JPEG/gallery9.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
                <img src="/images/gallery/JPEG/gallery10.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
                <img src="/images/gallery/JPEG/gallery11.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
              <img src="/images/gallery/JPEG/gallery12.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
              <img src="/images/gallery/JPEG/gallery13.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
              <img src="/images/gallery/JPEG/gallery14.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
            <a href="#" class="thumbnail">
              <img src="/images/gallery/JPEG/galleryextra.jpg" class="img-responsive minipic" />
            </a><!--closes .thumbnail-->
          </div><!--closes .gallery_div-->
        </div><!--closes .row-->
      </div><!--closes gallery_div-->
    </div><!--closes .row-->
  </div><!--closes .container-fluid-->
</section>