<section class="gallery">
	<div class="row">
		<div class="col-md-12 xs-md-12 gallery_div">
			<h2 class="gallery_header">GALLERY</h2>
			<a href="#" class="thumbnail">
				<img src="/images/jasmine/jasmine1_thumbnail.jpg" class="img-responsive minipic" />
      </a><!--closes .thumbnail-->
      <a href="#" class="thumbnail">
				<img src="/images/jasmine/jewel_thumbnail.jpg" class="img-responsive minipic" />
      </a><!--closes .thumbnail-->
      <a href="#" class="thumbnail">
				<img src="/images/jasmine/tjewel_thumbnail.jpg" class="img-responsive minipic" />
      </a><!--closes .thumbnail-->
      <a href="#" class="thumbnail">
				<img src="/images/jasmine/seashell_thumbnail.jpg" class="img-responsive minipic" />
      </a><!--closes .thumbnail-->
      <a href="#" class="thumbnail">
				<img src="/images/jasmine/jasmine1_thumbnail.jpg" class="img-responsive minipic" />
      </a><!--closes .thumbnail-->
      <a href="#" class="thumbnail">
				<img src="/images/jasmine/jewel_thumbnail.jpg" class="img-responsive minipic" />
      </a><!--closes .thumbnail-->
      <a href="#" class="thumbnail">
				<img src="/images/jasmine/tjewel_thumbnail.jpg" class="img-responsive minipic" />
      </a><!--closes .thumbnail-->
      <a href="#" class="thumbnail">
				<img src="/images/jasmine/seashell_thumbnail.jpg" class="img-responsive minipic" />
      </a><!--closes .thumbnail-->
      <a href="#" class="thumbnail">
				<img src="/images/jasmine/jasmine1_thumbnail.jpg" class="img-responsive minipic" />
      </a><!--closes .thumbnail-->
      <a href="#" class="thumbnail">
				<img src="/images/jasmine/jewel_thumbnail.jpg" class="img-responsive minipic" />
      </a><!--closes .thumbnail-->
      <a href="#" class="thumbnail">
				<img src="/images/jasmine/tjewel_thumbnail.jpg" class="img-responsive minipic" />
      </a><!--closes .thumbnail-->
      <a href="#" class="thumbnail">
				<img src="/images/jasmine/seashell_thumbnail.jpg" class="img-responsive minipic" />
			</a><!--closes .thumbnail-->
		</div><!--closes gallery_div-->
	</div><!--closes .row-->
</section>