<section class="gallery">
	<div class="row">
		<div class="col-md-12 xs-md-12 gallery_div">
			<h2 class="gallery_header">GALLERY</h2>
			<a href="#" class="thumbnail">
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
				<img src="http://placehold.it/220x250" class="img-responsive minipic" />
			</a><!--closes .thumbnail-->
		</div><!--closes gallery_div-->
	</div><!--closes .row-->
</section>