<section class="index">
  <div class="row">
    <div class="col-md-12 col-xs-12">

      <!--Carousel-->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol>
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol><!--closes .carousel-indicators-->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="../assets/images/jasmine/jasmine1_smallcorrected.JPG" alt="image" />
            <div class="carousel-caption">
              Natural
            </div><!--closes .carousel-caption-->
          </div><!--closes item active-->
          <div class="item">
            <img src="http://placehold.it/1500x600" alt="image" />
            <div class="carousel-caption">
              Hawaii Made
            </div><!--closes .carousel-caption-->
          </div><!--closes .item-->
          <div class="item">
            <img src="http://placehold.it/1500x600" alt="image" />
            <div class="carousel-caption">
              Inspired
            </div><!--closes .carousel-caption-->
          </div><!--closes .item-->
          <div class="item">
            <img src="http://placehold.it/1500x600" alt="image" />
            <div class="carousel-caption">
              Local
            </div><!--closes .carousel-caption-->
          </div><!--closes .item-->
        </div><!--closes .carousel-inner-->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a><!--closes .left carousel-control-->
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a><!--closes .right carousel-control-->
      </div><!--closes .carousel-example-gneric-->     
    </div><!--closes. col-12-->
  </div><!--closes .row-->

  <!--MAIN CONTENT-->

  <!--DIV TO ABOUT PAGE-->
  <div class="wrapper about_wrapper">
    <div class="row">
      <div class="transparent blue_transparent">
        <div class="col-md-6 col-xs-12 about_text">
          <h3 class="meet">Meet The Creators Behind The Brand</h3>
          <a class="btn btn-default" href="/about" role="button">Our Story</a><!--closes about button-->
        </div><!--closes .about_text-->
        <div class="col-md-6 col-xs-12 about_img">
          <img src="http://placehold.it/150x150" class="img-responsive img-circle girls" />
        </div><!--closes about image-->
      </div><!--closes blue_transparent-->
    </div><!--closes .row-->
  </div><!--closes about_wrapper-->

  <!--DIV TO GALLERY PAGE-->
  <div class="wrapper gallery_wrapper">
    <div class="row">
      <div class="transparent grey_transparent">     
        <div class="col-md-6 col-md-push-6 col-xs-12 gallery_text">
          <h3 class="meet">View Our Collection</h3>
          <a class="btn btn-default" href="/gallery" role="button">View More</a><!--closes gallery button-->
        </div><!--closes .gallery_text-->
        <div class="col-md-6 col-md-pull-6 col-xs-12 gallery_img">
          <img src="http://placehold.it/150x150" class="img-responsive img-circle pull-left girls" />
          <img src="http://placehold.it/150x150" class="img-responsive img-circle pull-left girls" />
          <img src="http://placehold.it/150x150" class="img-responsive img-circle pull-left girls" />
        </div><!--closes gallery image-->
      </div><!--closes grey_transparent-->
    </div><!--closes .row-->
  </div><!--closes gallery_wrapper-->

  <!--BLOG/CONTACT SECTION-->
  <div class="row">
    <div class="col-md-12 col-xs-12 splitcontent">
      <div class="row">
        <div class="col-md-8 col-xs-12 blogside">
          <h2 class="splitblogheader">Recent Updates</h2>
          <h4 class="miniblogheader">Lortem ipsum dolor sit amet</h4>
          <p class="miniblogdate">March 2, 2015</p>
          <img src="http://placehold.it/590x430" class="img-responsive miniblogimg" />
          <p class="miniblogtext">Lortem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed ex a leo placerat pellentesque. Proin nec malesuada lectus. In elementum auctor neque a malesuada. Donec nec molestie risus. Nunc at sagittis enim. Praesent id tortor nec augue imperdiet...</p>
          <a class="btn btn-default" href="/blog" role="button">Read More</a><!--closes blog button-->
        </div><!--closes blogside-->
        <div class="col-md-4 col-xs-12 contactside">
          <h2 class="splitcontactheader">Feedback</h2>
          <p class="minicontacttext">Have a question?</br>
                                    Or leave a comment!</br>
                                    We're here to help!</p>
          <a class="btn btn-default" href="/contact" role="button">Contact Us</a><!--closes contact button-->
        </div><!--closes contactside-->
      </div><!--closes .row-->
    </div><!--closes .splitcontent-->
  </div><!--closes .row-->
</section>