<footer>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12" id="source_copyright">
      <p class="copyright castaways_copyright">&copy; Castaways Jewelry 2015 - Hawaii</p>
      <p class="copyright design_copyright">Site designed by Kayla Cowan</p>
    </div><!--closes .source_copyright-->
    <div class="col-md-6 col-sm-6 col-xs-12" id="photos_copyright">
      <p class="copyright photography_copyright">All Photos:
      </br><a href="https://www.facebook.com/pages/TearlessFrenzy-Photography/1558556151031892?fref=ts" target="_blank" class="photolink">&copy; TearlessFrenzy Photography</a>
      </p>
    </div><!--closes .photos_copyright-->
  </div><!--closes .row-->
</footer>