section {
  font-family: $body-font-family;

  .wrapper {

    .aboutcontent {
      margin-top: 80px;
      margin-bottom: 80px;
    }

  	h2 {
  		color: $about-grey;
  		text-align: center;
      margin-bottom: 40px;
      font-weight: $font-weight-normal;
  	}

  	.about_paragraph {
		font-size: 19px;
    line-height: 1.5;
		// color: $about-grey;
		// max-width: 62.5%;
  	}
  }

  #ourstory {
	color: $about-grey;
  // max-width: 72.5%;
  margin-right: auto;
  margin-left: auto;
  }

  .mari_wrapper {
	background-color: $mari-blue;

  	.mari_profile {
  		// float: left;
  	}

    .mari_paragraph {
      float: left;

      @media #{$xs} {
        margin-top: 40px;
      }
    }
  }

  .jasmine_wrapper {
  	background-color: $jasmine-blue;

  	p {
  		float: right;
      color: $about-grey;

      @media #{$xs} {
        margin-top: 40px;
      }
  	}

  	.jasmine_profile {
  		float: right;
  	}
  }

  #faq {

    .aboutcontent {
      margin-bottom: 0;
    }

  	h2 {
  		color: $dark-grey;
      font-weight: $font-weight-normal;
  	}

  	p {
  		font-size: 19px;
  	}

    .faqbox {
      margin-top: 40px;
    }

    .faq_question {
        color: $blue-grey;
        
      }

    .faq_answer {
      color: $dark-grey;

    }
  }
}