section.index {
  font-family: $body-font-family;

  .wrapper {
      width: 100%;

      h3 {
        text-align: center;
      }
  }

  .about_wrapper {
    background-image: url("http://placehold.it/1500x600");
    // position: relative;
    color: white;

    .content_div {

      .content {

      }
    }
  }

  .gallery_wrapper {
    background-image: url("http://placehold.it/1500x600");
    // position: relative;
    color: $dark-grey;

    .content_div {

      .content {
  
      }
    }
  }
}