// FONTS 

$body-font-family:'Raleway', sans-serif;
$footer-size: 14px; 
$body-font-weight: $font-weight-normal;
$font-weight-normal: 400;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-ultra-bold: 900;


//COLORS

$dark-grey: #263C43;
$transparent_blue: #3BA3AD;
$transparent_offwhite: #DBF0F0;
$blue-grey: #4D7A88;
$mari-blue: #5AB2B1;
$jasmine-blue: #2A8990;
$turquoise: #015B66;
$footer-background-color: #2A7178;
$footer-text-color: #B4DBDC;
$footer-link-color: #5FD2F8;

.wrapper {
	width: 100%;
}