footer {
  font-family: $body-font-family;
  background-color: $footer-background-color;
  font-size: $footer-size;
  color: $footer-text-color;

  .row {
      padding-top: 40px;
      padding-bottom: 40px;

    #source_copyright {

      p.castaways_copyright {

      }//closes p

    }//closes #source copyright

    #photos_copyright {

      p.photography_copyright {

        a.photolink {
          color: $footer-link-color;

        }

      }//closes p

    }//closes #photos copyright

  }//closes .row

}//closes footer