footer {
  font-family: $body-font-family;
  background-color: $footer-background-color;
  font-size: $footer-size;
  color: $footer-text-color;

  .row {
      padding-top: 40px;
      padding-bottom: 40px;

    #source_copyright {

      p {
        // margin-left: 108px;

      }//closes p

    }//closes #source copyright

    #photos_copyright {
      line-height: 1.9;

      p.photography_copyright {
        padding-left: 200px;

        @media #{$xs} {
          padding-left: 0;
        }

        a.photolink {
          color: $footer-link-color;

          &:hover {
            text-decoration: none;
            color: $transparent-blue;
          }

        }

      }//closes p

    }//closes #photos copyright

  }//closes .row

}//closes footer